/* line 1, ../../sass/original/act-detail.scss */
body {
  background-color: #fff; }

/* line 5, ../../sass/original/act-detail.scss */
.wrapper-original-act-detail {
  padding: 0 15px; }
  /* line 7, ../../sass/original/act-detail.scss */
  .wrapper-original-act-detail h2 {
    font-size: 23px;
    text-align: center;
    padding: 30px 0 20px; }
  /* line 12, ../../sass/original/act-detail.scss */
  .wrapper-original-act-detail .act-cnt {
    font-size: 16px;
    margin-top: 15px; }
  /* line 16, ../../sass/original/act-detail.scss */
  .wrapper-original-act-detail .act-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 8px; }
  /* line 21, ../../sass/original/act-detail.scss */
  .wrapper-original-act-detail .act-steps {
    color: #12b7f5;
    line-height: 24px;
    font-size: 14px; }
  /* line 26, ../../sass/original/act-detail.scss */
  .wrapper-original-act-detail .act-rules {
    color: #777;
    font-size: 14px;
    line-height: 24px; }
