/* line 8, ../../sass/_icon/_normal.scss */
.icon-eye {
  width: 16px;
  height: 1px;
  position: relative;
  margin: 0px 5px 0 1px;
  vertical-align: middle;
  display: inline-block; }
  /* line 15, ../../sass/_icon/_normal.scss */
  .icon-eye:after {
    content: "";
    width: 16px;
    height: 10px;
    background-image: url('../img/icon/normal-new.png');
    background-position: 0 0;
    -webkit-background-size: 38px auto;
    background-size: 38px auto;
    display: inline-block;
    position: absolute;
    top: -5px; }

/* line 24, ../../sass/_icon/_normal.scss */
.icon-play {
  width: 38px;
  height: 38px;
  background-image: url('../img/icon/normal-new.png');
  background-position: 0 -15px;
  -webkit-background-size: 38px auto;
  background-size: 38px auto;
  display: inline-block; }

/* line 28, ../../sass/_icon/_normal.scss */
.icon-change {
  width: 14px;
  height: 14px;
  position: relative;
  top: -1px;
  margin-left: 6px;
  vertical-align: middle;
  display: inline-block; }
  /* line 36, ../../sass/_icon/_normal.scss */
  .icon-change:after {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url('../img/icon/normal-new.png');
    background-position: 0 -58px;
    -webkit-background-size: 38px auto;
    background-size: 38px auto;
    display: inline-block;
    position: absolute; }

/* line 44, ../../sass/_icon/_normal.scss */
.icon-star {
  width: 15px;
  height: 0px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  text-align: left; }
  /* line 51, ../../sass/_icon/_normal.scss */
  .icon-star:after {
    content: "";
    width: 15px;
    height: 14px;
    background-image: url('../img/icon/normal-new.png');
    background-position: 0 -77px;
    -webkit-background-size: 38px auto;
    background-size: 38px auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -9px; }

/* line 59, ../../sass/_icon/_normal.scss */
.icon-eyew {
  width: 16px;
  height: 10px;
  background-image: url('../img/icon/normal-new.png');
  background-position: 0 -96px;
  -webkit-background-size: 38px auto;
  background-size: 38px auto;
  display: inline-block; }

/* line 62, ../../sass/_icon/_normal.scss */
.icon-img {
  width: 14px;
  height: 11px;
  background-image: url('../img/icon/normal-new.png');
  background-position: 0 -111px;
  -webkit-background-size: 38px auto;
  background-size: 38px auto;
  display: inline-block; }

/* line 2, ../../sass/original/act-work.scss */
body {
  padding-bottom: 54px; }

/* line 6, ../../sass/original/act-work.scss */
.arrow {
  width: 15px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  position: relative; }
  /* line 13, ../../sass/original/act-work.scss */
  .arrow:after {
    content: "\f600";
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -10px;
    left: auto;
    font-family: iconfont !important;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .1px;
    display: block;
    color: #a6a6a6;
    width: 32px;
    height: 32px; }

/* line 33, ../../sass/original/act-work.scss */
.work-panel .my-title {
  margin-bottom: 10px; }
  /* line 35, ../../sass/original/act-work.scss */
  .work-panel .my-title .arrow:after {
    -webkit-transform: rotate(0);
    right: -15px; }

/* line 41, ../../sass/original/act-work.scss */
.ui-panel h2 {
  height: 55px;
  line-height: 55px;
  font-size: 18px; }
  /* line 45, ../../sass/original/act-work.scss */
  .ui-panel h2.change .sub-info {
    right: 15px; }
  /* line 48, ../../sass/original/act-work.scss */
  .ui-panel h2 .sub-info {
    font-size: 12px;
    color: #777;
    position: absolute;
    right: 26px;
    top: 0; }
  /* line 55, ../../sass/original/act-work.scss */
  .ui-panel h2:before {
    font-size: 28px;
    color: #a6a6a6; }

/* line 61, ../../sass/original/act-work.scss */
.work-info {
  color: #fff; }
  /* line 63, ../../sass/original/act-work.scss */
  .work-info .work-banner {
    position: relative;
    background-image: url(../pic/original/game_banner.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    padding-top: 53.33333%; }
  /* line 71, ../../sass/original/act-work.scss */
  .work-info .work-info-bd {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    top: 0;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 15px;
    padding-top: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    font-size: 12px; }
  /* line 87, ../../sass/original/act-work.scss */
  .work-info .work-title {
    font-size: 20px; }
  /* line 90, ../../sass/original/act-work.scss */
  .work-info .work-subtitle {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6); }
  /* line 94, ../../sass/original/act-work.scss */
  .work-info .contribute {
    margin-top: 16px;
    padding-top: 16px; }
    /* line 112, ../../sass/original/act-work.scss */
    .work-info .contribute p {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
      padding-right: 10px; }
    /* line 117, ../../sass/original/act-work.scss */
    .work-info .contribute span {
      position: relative;
      color: #fff; }
      /* line 120, ../../sass/original/act-work.scss */
      .work-info .contribute span:after {
        content: "\f600";
        position: absolute;
        right: -20px;
        top: 50%;
        margin-top: -14px;
        left: auto;
        font-family: iconfont !important;
        font-size: 26px;
        line-height: 26px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: .1px;
        display: block;
        color: #fff;
        width: 26px;
        height: 26px; }

/* line 142, ../../sass/original/act-work.scss */
.work-panel {
  background-color: transparent;
  margin-top: 0; }
  /* line 145, ../../sass/original/act-work.scss */
  .work-panel .hd {
    background-color: #fff;
    position: relative; }
    /* line 148, ../../sass/original/act-work.scss */
    .work-panel .hd .sub-info {
      right: 15px; }
  /* line 152, ../../sass/original/act-work.scss */
  .work-panel .arrow:after {
    -webkit-transform: rotate(90deg); }
  /* line 155, ../../sass/original/act-work.scss */
  .work-panel .sort-option {
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 1;
    font-size: 12px;
    color: #777;
    overflow: hidden;
    background-color: #fff; }
    /* line 164, ../../sass/original/act-work.scss */
    .work-panel .sort-option li {
      padding: 10px 0px;
      text-align: center;
      width: 110px; }
  /* line 170, ../../sass/original/act-work.scss */
  .work-panel .ui-grid-halve {
    padding: 0;
    background-color: #fff; }
  /* line 174, ../../sass/original/act-work.scss */
  .work-panel .ui-grid-halve > li {
    padding: 0;
    background-color: #fff; }
    /* line 177, ../../sass/original/act-work.scss */
    .work-panel .ui-grid-halve > li:nth-child(2n) {
      left: 1px; }
    /* line 180, ../../sass/original/act-work.scss */
    .work-panel .ui-grid-halve > li:nth-child(2n+1) {
      left: -1px; }
  /* line 184, ../../sass/original/act-work.scss */
  .work-panel .author-wrap {
    display: -webkit-box;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    -webkit-box-align: center; }
  /* line 191, ../../sass/original/act-work.scss */
  .work-panel .ui-avatar-tiled {
    display: block; }
  /* line 194, ../../sass/original/act-work.scss */
  .work-panel .anthor-info {
    margin-left: 10px; }
    /* line 196, ../../sass/original/act-work.scss */
    .work-panel .anthor-info h4 {
      font-size: 14px;
      line-height: 16px; }
    /* line 200, ../../sass/original/act-work.scss */
    .work-panel .anthor-info p {
      font-size: 12px;
      color: #777; }
  /* line 205, ../../sass/original/act-work.scss */
  .work-panel .author-work {
    position: relative;
    padding-bottom: 75.47%; }
    /* line 208, ../../sass/original/act-work.scss */
    .work-panel .author-work .work-pic {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: 100% auto;
              background-size: 100% auto; }
    /* line 217, ../../sass/original/act-work.scss */
    .work-panel .author-work .work-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 15px;
      height: 40px;
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: justify; }
      /* line 228, ../../sass/original/act-work.scss */
      .work-panel .author-work .work-info p {
        font-size: 12px;
        color: #fff;
        margin-top: 8px; }
      /* line 233, ../../sass/original/act-work.scss */
      .work-panel .author-work .work-info span {
        margin-right: 5px; }

/* line 240, ../../sass/original/act-work.scss */
.ui-pager {
  width: 100%;
  height: 46px;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  background-color: #fff; }
  /* line 247, ../../sass/original/act-work.scss */
  .ui-pager .pager-btn {
    position: relative;
    font-size: 14px;
    color: #777;
    height: 46px;
    line-height: 46px;
    padding: 0 .6rem; }
    /* line 254, ../../sass/original/act-work.scss */
    .ui-pager .pager-btn:active {
      opacity: .6; }
  /* line 264, ../../sass/original/act-work.scss */
  .ui-pager .pager-num {
    color: #bbb;
    font-size: 14px; }
    /* line 267, ../../sass/original/act-work.scss */
    .ui-pager .pager-num span {
      color: #12b7f5; }

/* line 273, ../../sass/original/act-work.scss */
.index-mod-fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #fff;
  z-index: 99; }
  /* line 280, ../../sass/original/act-work.scss */
  .index-mod-fixed .ui-btn-wrap {
    display: -webkit-box;
    padding: 10px 5px; }
    /* line 283, ../../sass/original/act-work.scss */
    .index-mod-fixed .ui-btn-wrap .ui-btn-lg {
      -webkit-box-flex: 1;
      width: 100%;
      margin: 0px 5px; }
