/* line 1, ../../sass/original/my-work.scss */
.ui-tab {
  background-color: #fff; }

/* line 5, ../../sass/original/my-work.scss */
.ui-tab-nav {
  height: 45px;
  position: fixed;
  z-index: 9999; }
  /* line 10, ../../sass/original/my-work.scss */
  .ui-tab-nav li.current {
    color: #00a5e0;
    border-bottom: 2px #00a5e0 solid; }
  /* line 14, ../../sass/original/my-work.scss */
  .ui-tab-nav li p {
    padding: 0 15px; }

/* line 24, ../../sass/original/my-work.scss */
.tab-item {
  -webkit-box-flex: 1;
  width: 100%;
  display: none; }
  /* line 28, ../../sass/original/my-work.scss */
  .tab-item p {
    color: #777;
    font-size: 14px; }

/* line 34, ../../sass/original/my-work.scss */
.tag-wrap {
  padding-top: 15px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box; }
  /* line 38, ../../sass/original/my-work.scss */
  .tag-wrap .wrap {
    border-radius: 4px;
    min-height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    text-align: center; }
  /* line 46, ../../sass/original/my-work.scss */
  .tag-wrap h4 {
    font-size: 16px; }

/* line 52, ../../sass/original/my-work.scss */
.work-list li {
  margin-left: 0; }
/* line 55, ../../sass/original/my-work.scss */
.work-list .ui-list-img {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 1px;
  width: 105px;
  height: 80px; }
/* line 62, ../../sass/original/my-work.scss */
.work-list .ui-list-info {
  padding-top: 5px;
  padding-bottom: 5px; }
  /* line 65, ../../sass/original/my-work.scss */
  .work-list .ui-list-info .time {
    color: #bbb;
    font-size: 12px; }
